<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.space.app.dao.UserMapper">
    <select id="select" resultType="UserDTO">
        SELECT * FROM user_info WHERE id = #{id};
    </select>
    <insert id="insert" parameterType="UserDTO">
        INSERT user_info (id, pw, name, email, birth)
        VALUES (#{id}, #{pw}, #{name}, #{email}, #{birth});
    </insert>
</mapper>